{% extends 'base.html' %}
{% block title %}
  Absen Telkom - Login Guru
{% endblock %}
{% load static %}
{% block extra_head %}
  <link rel="stylesheet" href="{% static 'css/login/style.css' %}">
{% endblock %}
{% block content %}
  <!-- ini untuk gambarnya -->
  <section>
    <div class="row">
      <div class="col-md-12 mt-5" >
        <div class="container text-center">
          <img src="{% static 'img/TelkomNyaDoang.jpg' %}" alt="" width="100px" style="margin-top: 50px;">
        </div>
      </div>
    </div>       
  </section>
  <!-- ini form nya -->
  <section>
    <div class="row">     
      <div class="col-md-6 col-lg-6 col-sm-6 offset-md-3">
        <h2 class="text-center mt-3" style="margin-left: 10px;" >Login</h2>           
        <h4 class="text-center text-secondary h5"  style="font-size: 32,79px;">Please login to your account!</h2>     
        <form action="login_guru_views" method="POST">
          {% csrf_token %}
          <!-- ini untuk username nya  -->
          <div class="form-group mt-3">
            <div class="input-group">               
              <input type="text"  id="Username" name="nik" placeholder="NIK" style="padding-left: 50px;" class="form-control form-rounded">
            </div>
          </div>
          <!-- ini untuk password nya -->
          <div class="form-group mt-3">
            <div class="input-group">
              <input type="password" class="form-control form-rounded" id="Password" name="password" placeholder="Password" style="padding-left: 50px;">
            </div>
          </div>
          {% if messages %}
            {% for message in messages %}
              <p style="color: red;">{{ message }}</p>
            {% endfor %}
          {% endif %}            
          <div class="d-flex justify-content-center">
            <a href="login_views" class="text-secondary" style="font-size: 15px;">Kembali Sebagai Siswa</a> 
          </div>
          <div class="d-flex justify-content-center mt-3" >              
            <button class="button" type="submit" style="font-size: 20px;">Login</button>
          </div>
        </form>
      </div>
    </div>      
  </section>
{% endblock %}