{% extends 'base.html' %}
{% block title %}
  Absen Telkom - Admin
{% endblock %}
{% load static %}
{% block extra_head %}
  <script src="https://kit.fontawesome.com/4892da469d.js" crossorigin="anonymous"></script>
  <style>
    body{
      overflow-x : hidden;
    }
    .button:hover{
        background-color: #ff0007 !important;
    } 
  </style>
{% endblock %}
{% block content %}
  <section>
    <div class="row">
      <!-- ini untuk sidebar nya !!! -->
      <div class="col-md-3">
        <header>
          <div class="card rounded-0 text-white " style="background-color: #ff0000;" >
            <div class="card-body">
              <h5 class="card-title lead" style="text-align: center; font-size: 25px;">{{ nama_guru }}</h5>
            </div>
          </div>
        </header>
        <nav class="nav flex-column" style="height:100%; background-color: #3f3f3f;">
          <a href="to_dashboard_admin_views" class="nav-link-active text-white lead border-bottom border-light" style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Dashboard</a>
          <a href="to_guru_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Guru</a>
          <a href="to_siswa_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Siswa</a>
          <a href="to_kelas_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Kelas</a>
          <a href="to_acara_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; "><b>Acara</b></a>
          <div class="text-center">
            <a href="login_guru_views" class="btn text-white " style="width: 120px; margin-top: 120px;background-color: #ff0000; ">Logout</a>
          </div>
        </nav>
      </div>
      <!-- end sidebar -->
      <!-- ini untuk content nya !!! -->
      <div class="col-md-8 mt-3">
        <h2 class="float-left">Acara</h2>         
        <hr width="1200px" style="margin-left: -30px; margin-top: 68px;">
        <h5 class="d-flex justify-content-end " ><a href="to_tambahacara_admin_views" class="text-dark">  Tambahkan Acara <i class="fa fa-plus-circle" aria-hidden="true"></i></a> </h5>
        <div class="table-responsive mt-5">
          <table class="table">
              <thead>
                <tr>
                  <th scope="col"></th>
                  <th scope="col">Nama</th>
                  <th scope="col">Jam</th>
                  <th scope="col">Tanggal</th>
                  <th scope="col">Edit</th>
                  <th scope="col">Hapus</th>
                </tr>
              </thead>
              <tbody>
                {% for acara in tbl_acara %}
                  <form action="to_editacara_admin_views" method="POST" name="editform{{ forloop.counter }}">
                    {% csrf_token %}
                    <tr>
                      <th scope="row">{{ forloop.counter }}</th>
                      <td>{{ acara.id_nama_acara.nama_acara }}</td>
                      <td>{{ acara.waktu_acara|time }}</td>
                      <td>{{ acara.waktu_acara|date }}</td>
                      <input type="hidden" name="idacara" value="{{ acara.id_acara }}">
                      <td><a href="javascript:;" onclick="document.forms['editform{{ forloop.counter }}'].submit();"><i class="fa fa-pencil text-dark" aria-hidden="true"></a></td>
                      <td><button type="submit" formaction="hapusacara_admin_views" style="background: none!important; padding: 0!important; cursor: pointer; border: none;"><i class="fa fa-trash text-dark" aria-hidden="true"></i></button></td>
                    </tr>
                  </form>
                {% endfor %}
              </tbody>        
          </table>
        </div>
      </div>
    </div>    
  </section>
{% endblock %}