{% extends 'base.html' %}
{% block title %}
  Absen Telkom - Admin
{% endblock %}
{% load static %}
{% block extra_head %}
  <script src="https://kit.fontawesome.com/4892da469d.js" crossorigin="anonymous"></script>
  <style>
    body{
      overflow-x : hidden;
    }
    .button:hover{
        background-color: #ff0007 !important;
    } 
  </style>
{% endblock %}
{% block content %}
  <section>
    <div class="row">
      <!-- ini untuk sidebar nya !!! -->
      <div class="col-md-3">
        <header>
          <div class="card rounded-0 text-white " style="background-color: #ff0000;" >
            <div class="card-body">
              <h5 class="card-title lead" style="text-align: center; font-size: 25px;">{{ nama_guru }}</h5>
            </div>
          </div>
        </header>
        <nav class="nav flex-column" style="height:100%; background-color: #3f3f3f;">
          <a href="to_dashboard_admin_views" class="nav-link-active text-white lead border-bottom border-light" style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; "><b>Dashboard</b></a>
          <a href="to_guru_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Guru</a>
          <a href="to_siswa_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Siswa</a>
          <a href="to_kelas_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Kelas</a>
          <a href="to_acara_admin_views" class="nav-link-active text-white lead border-bottom border-light"style="font-size: 20px; padding-left: 48px; padding-top: 20px; padding-bottom: 20px; ">Acara</a>
          <div class="text-center">
            <a href="login_guru_views" class="btn text-white " style="width: 120px; margin-top: 120px;background-color: #ff0000; ">Logout</a>
          </div>
        </nav>
      </div>
      <!-- end sidebar -->
      <!-- ini untuk content nya !!! -->
      <div class="col-md-8 mt-3">
        <h2>Dashboard</h2>
        <hr width="1200px" style="margin-left: -30px; margin-top: 30px;">
        <div class="row">
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Siswa</h2>
                <h4 class="card-text" style="margin-top: 40px;">{{ jumlah_siswa }} Siswa </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Guru</h2>
                <h4 class="card-text" style="margin-top: 40px;">{{ jumlah_guru }} Guru </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Acara</h2>
                <h4 class="card-text" style="margin-top: 40px;">{{ jumlah_acara }} Acara </h4>
              </div>
            </div>
          </div>
          <div class="col-md-4" style="margin-top:30px ;">
            <div class="card">
              <div class="card-body">
                <h2 class="card-title">Kelas</h2>
                <h4 class="card-text" style="margin-top: 40px;">{{ jumlah_kelas }} Kelas </h4>
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </section>
{% endblock %}